.container-card{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(19, 16, 16);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    width: 350px;
    justify-content: center;
}

.container-card p{
    margin: 20px;
}
:hover.container-card{
    background-color: rgb(35, 96, 138);
    color: aliceblue;
}
:hover.container-card h2{
    color: aliceblue;
}

.container-card img {
    width: 200px ;
    height: 200px;
    border-radius: 25%;
}

.btn-comprar{
    font-size: large;
    align-self: end;
}

@media (max-width: 480px) {
    .container-card{
        width: 70%;
    }
}