.container-tienda{
    margin-top: 100px;
}
.titleVentas{
    color: azure;
    color: rgb(14, 118, 179);
}

.Listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario{
    margin-top: 80px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(159, 189, 223);
}

.formulario input,textarea,::placeholder{
    background-color: rgb(14, 118, 179);
    color: azure;
    width: 500px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: none;
}

.container-nosotros{
    margin-top: 80px;
    display: block;
}

.container-nosotros p{
    margin: 0 50px 50px 50px;
    color: aliceblue;
    background-color: rgb(14, 118, 179);
    font: 1.5em sans-serif;
    padding: 20px;
}

.container-nosotros h1{
    text-align:center ;
    color: rgb(14, 118, 179);
    padding-top: 20px;
    
}
.fondoM img{
    padding-top: 80px;
    width: 100%;
    height: 600px;
}

.not_found{
    position: absolute;
    top: 40%; left: 50%; transform: translate(-50%);
    color: rgb(14, 118, 179);
    font: 2.5em sans-serif;
}