.container-navbar{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(14, 118, 179);
        justify-content: space-around;
        align-items: center;
        color: azure;
        
    }

.container-nav a{
    margin: 10px;
    text-decoration-line:none;
    color: azure;
    }

.container-navbar img{
    width: 70px;
    margin: 5px;
}
.logo-container{
    display: flex;
}

.container-buscador input{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 15px;
    
}

.container-buscador placeholder{
    background-color: aliceblue;}

@media (max-width: 480px) {
    .contenedorNav{
        display: block;
    };
    
}