.container-navbar{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(14, 118, 179);
        justify-content: space-around;
        align-items: center;
        color: azure;
        
    }

.container-nav-item a{
    margin: 10px;
    text-decoration-line:none;
    color: azure;
    }

.container-navbar img{
    width: 70px;
    margin: 5px;
}
.logo-container{
    display: flex;
}

.nav-toogle{
    display: none;
}

@media (max-width: 650px) {
    .container-navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
    };
}
    @media (max-width: 480px) {
        .container-navbar{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .container-nav-item{
            top: 80px;
            position: absolute;
            background-color: rgb(14, 118, 179);
            display: flex;
            flex-direction: column;
            align-items:end;
            width: 100%;
            transform: translateX(-100%);
            transition: 0.3s ease all;
        }
        .container-nav-item.open{
            transform: translateX(0) !important;
        }

        .nav-toogle{
            display: flex !important;
            flex-direction: column;
            margin: 15px;
        }
        .nav-toogle span{
            width: 30px;
            height: 4px;
            background: azure;
            margin-bottom: 5px;
            border-radius: 2px;
            transform-origin: 5px 0px;
            transition:all 0.2s linear;
        }
        .nav-toogle.open > span{
            transform: rotate(45deg) translate(0px,0px);
        }

        .nav-toogle.open > span:nth-child(2){
            display: none;
        }

        .nav-toogle.open > span:nth-child(3){
            transform: rotate(-45deg) translate(-5px,1px);

        }

        };
